<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Course Recommendation System</title>
    <link rel="icon" href="CRS_Title_Logo.png" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md color navbar-light py-3">
        <div class="container">
            <a href="index.html" class="navbar-brand">
                <img src="CRS_Logo.png" alt="" width="60" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"> <h1 style="font-family: monospace;" class="text-light text-center">Course Recommendation System</h1> </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav item">
                        <a href="index.html" class="nav-link text-light">Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-3 leftbar">
                    <div class="col-lg text-center d-flex d-inline-flex flex-column bg-light d-none d-lg-block" style="border-radius: 10px;">
                        <br>
                        <h3 class="pt-3" style="color: #D0C3F1;">Filters</h3>
                        <div class="container">
                            <hr>
                        </div>                            
                        <p class="pb-3">
                            <a href="#"> High in Demand </a> <br>
                            <a href="#"> Higher Views </a> <br>
                            <a href="#"> Filter 3 </a> <br>
                        </p>
                    </div>                   
                </div>
                <div class="col-md-9"> 
                    <div class="sticky">
                    <div class="mb-4 h3">Courses :</div>
                    <div class="mb-3"> 
                        <div class="card bg-light">
                            <div class="card-body">
                                <p class="lead">
                                    <strong> Course Name : </strong>
                                </p> 
                                <hr>
                                <div>
                                    <p class="card-text text-dark">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maxime porro ipsam praesentium enim odio, aperiam aliquam possimus iste dolor quaerat esse nemo magnam asperiores velit accusantium illum cum incidunt tenetur vitae laudantium impedit libero magni! Earum sunt cupiditate recusandae repellat excepturi saepe eaque debitis incidunt quo dolorum tempora similique, rerum voluptatem optio vitae laborum, culpa enim, dolor id quas molestiae adipisci error exercitationem? Consectetur eaque perspiciatis corrupti delectus? Aliquid molestias provident commodi expedita eaque placeat quia nihil libero ex?
                                    </p>
                                    <div class="mb-3">
                                        <button class="btn color text-light">View Course &nbsp;
                                            <span class="badge bg-secondary">27,341</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="mb-3"> 
                        <div class="card bg-light">
                            <div class="card-body">
                                <p class="lead">
                                    <strong> Course Name : </strong>
                                </p> 
                                <hr>
                                <div>
                                    <p class="card-text text-dark">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maxime porro ipsam praesentium enim odio, aperiam aliquam possimus iste dolor quaerat esse nemo magnam asperiores velit accusantium illum cum incidunt tenetur vitae laudantium impedit libero magni! Earum sunt cupiditate recusandae repellat excepturi saepe eaque debitis incidunt quo dolorum tempora similique, rerum voluptatem optio vitae laborum, culpa enim, dolor id quas molestiae adipisci error exercitationem? Consectetur eaque perspiciatis corrupti delectus? Aliquid molestias provident commodi expedita eaque placeat quia nihil libero ex?
                                    </p>
                                    <div class="mb-3">
                                        <button class="btn color text-light">View Course &nbsp;
                                            <span class="badge bg-secondary">43,896</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"> 
                        <div class="card bg-light">
                            <div class="card-body">
                                <p class="lead">
                                    <strong> Course Name : </strong>
                                </p> 
                                <hr>
                                <div>
                                    <p class="card-text text-dark">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maxime porro ipsam praesentium enim odio, aperiam aliquam possimus iste dolor quaerat esse nemo magnam asperiores velit accusantium illum cum incidunt tenetur vitae laudantium impedit libero magni! Earum sunt cupiditate recusandae repellat excepturi saepe eaque debitis incidunt quo dolorum tempora similique, rerum voluptatem optio vitae laborum, culpa enim, dolor id quas molestiae adipisci error exercitationem? Consectetur eaque perspiciatis corrupti delectus? Aliquid molestias provident commodi expedita eaque placeat quia nihil libero ex?
                                    </p>
                                    <div class="mb-3">
                                        <button class="btn color text-light">View Course &nbsp;
                                            <span class="badge bg-secondary">34,792</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="p-5 bg-dark text-center text-light">
        <div class="container">
            <p class="lead">
                Copyright @ 2022 Course Recommendation System
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>